.AboutIntro-container{
    .AboutIntro-body{
        .AboutIntro-content{
            .AboutIntro-content-p{
                font-size: 14px;
                // margin-top: 20px;
                text-indent: 30px;
                text-align: justify;
            }
        }
    }
}