.detailnews-container{
    .detailnews-body{
        padding: 30px 30px 10px 30px;
        .detailnews-content{
            display: flex;
            width: 100%;
            margin-top: 40px;
            .detailnews-left{
                width: 73%;
                .detailnews-element{
                    height: auto;
                    width: 100%;
                    display: block;
                    padding: 0 30px;

                    .detailnews-element-title{
                        height: 70px;
                        width: 100%;
                        display: block;
                        font-size: 20px;
                        text-transform: uppercase;
                        font-weight: 600;
                        color: blue;
                    }
                    .span-element{
                        display: flex;
                        span{
                            height: 20px;
                            font-size: 14px;
                            text-transform: none;
                            font-weight: normal;
                            width: 50%;
                        }
                    }
                    .detailnews-element-abstract{

                    }
                    .detailnews-image{
                        height: 600px;
                        width: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        margin: 20px 0px 20px 0px;
                    }
                    .detailnews-element-content{
                        // height: 230px;
                        width: 100%;
                        // overflow: hidden;
                    }
                       
                }
            }
            .detailnews-right{
                width: 27%;
                border-left: 1px solid gray;
                margin-left: 20px;
                .detailnews-right-element{
                    height: 500px;
                    width: 100%;
                    
                    .detailnews-right-title{
                        text-transform: uppercase;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 600;
                        background-color: rgb(223, 223, 223);
                        height: 40px;
                        width: 100%;
                    }
                    .detailnews-right-content{
                        height: 500px;
                        width: 100%;
                        border-bottom: 1px solid gray;
                    }
                }
                .detailnews-right-up{
                    height: 1000px;
                    text-align: center;
                    .right-up-title{
                        text-transform: uppercase;
                        color: orange;
                        font-size: 18px;
                        text-align: center;
                    }
                    .right-up-content{
                        margin-top: 30px;
                        text-align: left;
                        overflow: hidden;
                        text-transform: none;
                        
                    }
                }
                .detailnews-right-down{
                    margin: 80px 0 0 50px;
                }
            }
        }
    }
}
//Tablet, Mobile: width < 1024px
@media only screen and(max-width:64em){
   .detailnews-container{
       .detailnews-body{
           .detailnews-content{
               display: block;
               .detailnews-left{
                    width: 100%;
                    .detailnews-element{
                        .detailnews-image{
                            height: 500px;
                        }
                    }
               }
               .detailnews-right{
                   padding-top: 20px;
                   width: 100%;
                    .detailnews-right-down{
                        display: none;
                    }
               }
           }
       }
   }
}

//Mobile: width < 740px
@media only screen and(max-width:56.25em){
    .detailnews-container{
        .detailnews-body{
            .detailnews-content{
                display: block;
                .detailnews-left{
                     width: 100%;
                     .detailnews-element{
                         .detailnews-image{
                             height: 400px;
                         }
                     }
                }
               
            }
        }
    }
}

//Tablet: width >= 740px and width < 1024px
@media only screen and(max-width:56.25em)and(max-width:63.9375em){
   
}
