.sliderprojectneedhelp-child{
    cursor: pointer;

    .sliderprojectneedhelp-name{
        padding: 10px 0;
        
        &:hover{
            color: #45c3d2;
        }
    }
    .sliderprojectneedhelp-location{

    }
    .sliderprojectneedhelp-purpose{
        
    }
}