.deploy-work-container{
    
    .work-title{
        margin: 20px 0 10px 0;
        text-align: center;
       
        .span-title{
            text-transform: uppercase;
            font-size: 25px;
            color: blue;
            display: block;
        }
        .spanname-title{
            font-size: 17px;
        }
    }
    .deploy-work{
        margin: 40px 30px 20px 30px;
        .deploy-work-down{
            display: block;
            .deploy-center{
                display: flex;
               padding: 0 !important;
            }
        }
    }
}