.infocontact-container{
    height: 250px;
    width: 100%;
    // color: blue;
    font-size: 14px;
    background-color: transparent;

    .infocontact-title{
        text-align: center;
        text-transform: uppercase;
        height: 40px;
        width: 100%;
        margin: 0 0 30px 0;

        .comment{
            color: orange;
            font-size: 20px;
            height: 100%;
            width: 100%;
            padding-bottom: 30px;
        }
    }
    .infocontact-body{
        .detail-contact{
            padding-bottom: 10px;
            text-align: left;
            .detail-contact-span{
                margin-left: 20px;
                padding-top: 5px;
            }
            .far{
                color: blue;
            }
            .fas{
                color: blue;
            }
        }
        
    }
}