.message-contact-container{
    padding: 30px 0px 20px 0px;

    .message-contact-content-title{
        text-align: center;
        text-transform: uppercase;
        height: 60px;
        width: 100%;
        label{
            color: blue;
            font-size: 25px;
            height: 100%;
            width: 100%;
            padding-bottom: 30px;
        }
    }
    .message-contact-content-up{
        padding-top: 40px;
        
    }
    .message-contact-content-title{
        height: 50px;
        width: 100%;
    }
    .input-group{
        padding-top: 20px;
        font-size: 14px;
        span{
        background-color: blue;
        color: white;
        align-items: center;
       }
    }
    .form-group{
        padding-top: 20px;
        .span{
            font-size: 20px;
            color: blue;
        }
    }
}
