.slick-prev {
    left: -10px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: rgb(232, 230, 230) !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: white !important;
    }
}

.slick-prev:before {
    font-family: FontAwesome !important;
    color: red !important;
}

.slick-next {
    right: -10px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: rgb(232, 230, 230) !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: white !important;
    }
}

.slick-next:before {
    font-family: FontAwesome !important;
    color: red !important;
}

.slick-disabled {
    display: none !important;
}

.section-share {
    font-size: 14px;
    &.section-sliderhumanneedhelp {
        background: #f5f5f5;
        height: 650px;
    }

    &.section-sliderhonorbenefactor {
        background: #f5f5f5;
        height: 570px;
    }
    &.section-slidernewsevents {
        background: #f5f5f5;
        height: 530px;
    }
    &.section-sliderprojectneedhelp {
        background: #f5f5f5;
        height: 650px;
    }
    &.section-slideryoutube {
        background: #f5f5f5;
        height: 600px;
    }

    &.section-about {
        height: 500px !important;
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
    }

    .section-body {

        .section-customize {
            cursor: pointer;
            .bg-image {
                width: 390px;
                height: 230px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;
            }
            .section-content-name{
                height: 50px;
                margin: 5px 5px 10px 5px;
                overflow: hidden;
                font-weight: 600;
                text-transform: uppercase;
            }
            .section-content-location{
                display: flex;
                margin: 20px 5px 5px 5px;
                height: 50px;
                overflow: hidden;
                // text-indent: 20px; //thụt đầu đoạn văn bản
            }
            .section-content-purpose{
                margin: 5px;
                height: 50px;
                overflow: hidden;
                // text-indent: 20px;
            }
            .section-content-begin{
                margin: 5px;
                height: 25px;
                overflow: hidden;
                // text-indent: 20px;
            }
            .section-content-cost{
                margin: 5px;
                height: 25px;
                overflow: hidden;
                // text-indent: 20px;
            }
            .section-content-stage{
                margin: 5px;
                height: 25px;
                overflow: hidden;
                // text-indent: 20px;
            }
            .section-content-abstract{
                margin: 20px 5px 5px 5px;
                height: 80px;
                overflow: hidden;
                text-indent: 20px; //thụt đầu đoạn văn bản
            }
        }
    }
}

.section-share {
    height: 500px;
    .section-container {
        margin: 0 50px;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 50px;
            margin-bottom: 10px;
            margin-top: 30px;

            .title-section {
                font-size: 22px;
                font-weight: 600;
                color: blue;
                text-transform: uppercase;
            }

            .btn-section {
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    color: #fff;
                    background: #f7d800;
                }
            }
        }
    }
}

.section-sliderhonorbenefactor {
    .outer-bg {
        display: block;
        justify-content: center;
        margin-bottom: 10px;
    }

    .section-customize {
        padding: 5px;
        cursor: pointer;
        
        .customize-border {
            display: block;
            width: 390px;
            .honor-title{
                height: 50px;
                margin: 10px 5px 10px 5px;
            }
            .honor-nickname{
                margin: 15px 5px 5px 5px;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 500;
                height: 23px;
            }
            .honor-name{
                margin: 5px;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 500;
                height: 28px;
            }
            .honor-sum-number{
                text-align: left;
                margin: 5px;
                height: 22px;
                display: flex;
                // .honor-element1{
                //     width: 120px;
                // }
                .honor-element2{
                    text-indent: 5px;
                }
                .honor-element3{
                    text-indent: 5px;
                }
            }
            .honor-sum-money{
                text-align: left;
                margin: 5px;
                height: 22px;
                display: flex;
                .honor-element2{
                    text-indent: 5px;
                }
                .honor-element3{
                    text-indent: 5px;
                }
            }
        }
    }
}

.home-footer {
    text-align: center;
    padding: 8px;

    a {
        text-decoration: unset;
    }


}

.section-about {
    padding: 20px 50px;

    .section-about-header {
        padding: 20px 10px;
        font-size: 22px;
        font-weight: 600;
    }

    .section-about-content {
        display: flex;
        gap: 15px;
        width: 100%;

        .content-left {
            width: 60%;
        }

        .content-right {
            width: 40%;

            p {
                text-align: justify;
                font-style: italic;
                padding: 15px;
            }
        }
    }
}
.homepage-container{
    .homepage-media{
        margin: 20px 50px;
        height: 30px;
        // text-transform: uppercase;
        font-size: 30px;
        font-weight: 600;
        color: orange;
        text-align: center;
        font-family: cursive;
    }
}